<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
   
    <title>E-Prescription</title>
 
    <h1 class="FirstHeading">E-Prescription</h1>
</head>
<body>
    <div class="menu">
        <button onclick="clickFuntion2()" class="Profilebtn" id="ProfileBtn"><i class="fa-solid fa-user"></i></button>
        <a href="http://localhost:4010/home">Home</a>
        <a href="http://localhost:4010/userAppntList">Appointment</a>
        <a href="#">Contact</a>
        <a href="#">Setting</a>
        <a href="#">FAQ</a>
        <a href="http://localhost:4010/login">Login</a>

    </div>
    <div class="Block" id="SideBtn">
        <a class="aa" id="UserBtn" href="http://localhost:4010/home"><b>User/Patient</b></a>
        <button class="aa" id="DoctorBtn"><b>Doctor</b></button>
    </div>
    <section class="SearchSec" id="SearchSec">

        <div class="topnav">

            <div class="search-container">
                <p id="Title">Doctors List</p>
                <form action="/home" method="post">
                    <select name="cars" id="Catagory">
                        <option value="volvo">Doctor's Name</option>
                        <option value="saab">Doctor's Specialty</option>
                        <option value="mercedes">Institution</option>
                      
                      </select>
                    <input type="text" id="HomeSearch" placeholder="Search.." name="search">
                    <button type="submit" id="HomeSearchBtn">Search</button>
                </form>
            </div>
        </div>


    </section>


    <section class="sec" id="UserSec">
     
    <% for( let i = 0; i < doctor.length; i++ ) { %>
         <% const id=doctor[i].D_ID %>
        <div class="box box-i">
            <p>Dr. <%= doctor[i].F_Name  %>  <%= doctor[i].L_Namel  %> </p>
            <p>Experience: <%= doctor[i].Experienc %> year </p>
            <p>Visit Fee: <%= doctor[i].Visit_Fee %></p>
            <% for( let j = 0; j < doctorSp.length; j++ ) { %>
              <% if(id==doctorSp[j].D_ID){%>
                <p>Specialty: <%= doctorSp[j].DSpe %></p>
              <% } %> 
            <% } %>
            <button onclick="clickFuntion()" class="LoginBtn" id="AppointBtn"><b>Get Appointment</b> </button>
             


        </div>
       <% } %>

    </section>


    <section class="DocAppointmentList" id="DocAppointmentList">
        <h1>
            <u>Your Appointment List</u>
        </h1>

    <% for( let i = 0; i < appList.length; i++ ) { %>
        
        <div class="boxx">
           <p>Patient Name: <%=appList[i].FirstName%>    <%=appList[i].LastName %>     ::  Diseases: <%= appList[i].DieaName%>     
            
            <button  class="LoginBtnX" id="AppointBtn"><b>Grant Appointment</b> </button>
            <form action="/home" method="post">
            <button  class="LoginBtnX" onclick="clickFuntionE()" id="MeetBtn" ><b>Meet</b> </button>
            <button  class="LoginBtnX" id="DeleteBtn"><b>Delete Appointment</b> </button>
        </form>
        </p>
        </div>
        
        
    <%} %>


    </section>




    <script>
             function clickFuntion(){
                document.getElementById('AppointBtn').addEventListener('click', function() {
                location.href = "http://localhost:4010/doctorDetails";  

                }) }
                 
                       function clickFuntion2(){
                       document.getElementById('ProfileBtn').addEventListener('click', function() {
                       location.href = "http://localhost:4010/userProfile";  

                       }) }
                 
document.getElementById('DoctorBtn').addEventListener('click', function() {

document.getElementById('UserSec').style.display = 'none';
document.getElementById('Catagory').style.display = 'none';
document.getElementById('Title').innerHTML = 'Your Patient List';
document.getElementById('DocAppointmentList').style.display = 'flex'

});


document.getElementById('DeleteBtn"').addEventListener('click', function() {

document.getElementById('DeleteBtn"').style.display = 'none';

function clickFuntionE(){
                    console.log('xxxxxxxxxx');
                document.getElementById('MeetBtn').addEventListener('click', function() {
                location.href = "http://localhost:4010/Epres";  

                }) }

});

    </script>    
</body>
</html>


